body{
    background-color: rgb(27, 27, 27);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.header{
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    justify-content: space-between;
    display: flex;
    padding: 50px;
    
}
.item{
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}