body{
    background-color: rgb(27, 27, 27);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.logo_a{
    text-decoration-line: none;
    color: black;
}
.header{
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: rgb(121, 116, 126);
    display: grid;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    height: 500px;
    width: 300px;
}